.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    &__logo {
        display: inline-block;
        vertical-align: middle;
        margin-top: -6px;
        position: relative;
        z-index: 2;
        img {
            width: 60px;
        }
    }
    &__hamburger{
        position: absolute;
        right: 11px;
        top: 0;
        width: 38px;
        height: 38px;
        z-index: 2;
        span{
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &::before,&::after{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 2px;
                background-color: #fff;
                content: '';
            }
            &::before{
                transform: translate(0,-7px);
            }
            &::after{
                transform: translate(0,7px);
            }
        }
    }
    &__list {
        will-change: transform;
        @media (max-width: 1199px) {
            pointer-events: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            padding-top: 64px;
            box-sizing: border-box;
            opacity: 0;
            z-index: 1;
            @media (min-width: 650px) {
                max-width: 288px;
                padding-top: 104px;
                &::before{
                    opacity: 0;
                    position: absolute;
                    left: 287px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: calc(100vw - 288px);
                    pointer-events: none;
                    content: '';
                    background: -moz-linear-gradient(0deg, rgba(19,19,19,1) 8%, rgba(19,19,19,0) 69%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(19,19,19,1)), color-stop(69%, rgba(19,19,19,0))); /* safari4+,chrome */
                    background: -webkit-linear-gradient(0deg, rgba(19,19,19,1) 8%, rgba(19,19,19,0) 69%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(0deg, rgba(19,19,19,1) 8%, rgba(19,19,19,0) 69%); /* opera 11.10+ */
                    background: -ms-linear-gradient(0deg, rgba(19,19,19,1) 8%, rgba(19,19,19,0) 69%); /* ie10+ */
                    background: linear-gradient(90deg, rgba(19,19,19,1) 8%, rgba(19,19,19,0) 69%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#131313',GradientType=1 ); /* ie6-9 */
                }
            }
        }
    }
    &__phones{
        @media (max-width: 649px) {
            position: fixed;
            bottom: 48px;
            left: 0;
            width: 100%;
            opacity: 0;
            z-index: 2;
        }
    }
    &__phone-mobile{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 48px;
        top: 0;
        &::before{
            content: '\e924';
            font-family: icon;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            color: #fff;
        }
    }
    &__socials{
        position: relative;
        margin-left: 5px;
        display: inline-block;
        vertical-align: top;
    }
    &__social{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        &::before{
            font-family:icon;
            color: rgba(255, 255, 255, 0.3);
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &--inst{
            &::before{
                content: '\e939';
                font-size: 17px;
            }
        }
        &--fb{
            &::before{
                content: '\e938';
                font-size: 17px;
            }
        }
        &--vk{
            &::before{
                content: '\e937';
                font-size: 12px;
            }
        }

    }
    &__item{
        p,span{
            pointer-events: none;
        }
    }
    @media (min-width: 650px) {
        &__list{
            opacity: 1;
            @media (max-width: 1199px){
                transform: translate(-100%, 0);
            }
        }
        &__styler{
            position: relative;
            padding: 10px 0;
        }
        &__logo {
            margin-top: 0;
        }
        &__container{
            font-size: 0;
        }
        &__wrapper{
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        &__hamburger{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            top: auto;
            right: auto;
            margin-left: 25px;
        }
        &__phones{
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            text-align: right;
        }
        &__phone{
            display: inline-block;
            vertical-align: middle;
            span{
                display: none;
            }
            a{
                font-family: bold;
                color: #fff;
                font-size: 14px;
            }
            & + .header__phone{
                margin-left: 20px;
            }
        }
        &__phone-mobile{
            display: none;
        }
        &__socials{
            position: absolute;
            top: 49%;
            right: 230px;
            transform: translate(0,-50%);
        }
    }
    
    @media (min-width: 1200px) {
        position: fixed;
        &::before{
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: toRem(32);
            content: '';
            background: rgb(19,19,19);
            background: -moz-linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313",endColorstr="#000000",GradientType=1);
        }
        &.fixed{
            background-color: $black;
            &::before{
                opacity: 0.6;
            }
            .header{
                &__item{
                    padding: toRem(16) 0;
                    &.active{
                        p{
                            color: $yellow;
                        }
                    }
                    span{
                        opacity: 0!important;
                    }
                }
            }
        }
        &__styler{
            padding: 0;
            position: relative;
        }
        &__logo {
            position: absolute;
            bottom: -(toRem(5.5));
            width: span(1 of 8);
            text-align: center;
            cursor: pointer;
            img{
                width: toRem(90);
            }
        }
        &__wrapper{
            width: span(6 of 8);
        }
        &__socials{
            right: toRem(263);
        }
        &__social{
            width: toRem(40);
            height: toRem(40);
            &--inst{
                &::before{
                    font-size: toRem(17);
                }
            }
            &--fb{
                &::before{
                    font-size: toRem(17);
                }
            }
            &--vk{
                &::before{
                    font-size: toRem(12);
                }
            }
        }
        &__hamburger{
            display: none;
        }
        &__phones{
            width: span(2 of 8);
            padding-right: span(0.2 of 8);
            box-sizing: border-box;
        }
        &__list{
            display: block;
            margin-left: span(1 of 6);
        }
        &__item{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding: toRem(30) 0;
            p{
                font-size: toRem(14);
                line-height: toRem(21);
                color: rgba(#fff,0.3);
            }
            span{
                font-size: toRem(12);
                line-height: toRem(15);
                position: absolute;
                top: 62%;
                left: 0;
                color: rgba(#fff,0.3);
                display: block;
                white-space: nowrap;
                opacity: 0;
                pointer-events: none;
            }
            & + .header__item{
                margin-left: toRem(20);
            }
        }
        &__phone{
            position: relative;
            span{
                font-size: toRem(12);
                line-height: toRem(15);
                position: absolute;
                top: 100%;
                right: 0;
                color: rgba(#fff,0.3);
                display: block;
                pointer-events: none;
                opacity: 0;
                white-space: nowrap;
            }
            a{
                font-size: toRem(14);
                line-height: toRem(21);
            }
            & + .header__phone{
                margin-left: toRem(20);
            }
        }
    }
}