
body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: reg;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    color: #fff;
    background-color: $black;
}
html{
    @media (min-width: 1200px) {
        font-size: -webkit-calc((100vw + 1px - 1px)/100);
        font-size: expression((100vw + 1px - 1px)/100);
        font-size: -moz-calc((100vw + 1px - 1px)/100);
        font-size: -o-calc((100vw + 1px - 1px)/100);
        font-size: calc((100vw + 1px - 1px)/100);
    }
    @media(min-width: 1300px){
        font-size: 13px;
    }
    @media(min-width: 1400px){
        font-size: 14px;
    }
    @media(min-width: 1500px){
        font-size: 15px;
    }
    @media(min-width: 1600px){
        font-size: 16px;
    }
}

h1,h2,h3 {
    font-family: boldItalic;
}

button,.button {
    border: none;
    cursor: pointer;
    font-family: 'reg';
    background: none;
    padding: 0;
    display: inline-block;
    user-select: none;
}


.container{
    padding: 0 6.25%;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 650px) {
        padding: 0 span(0.5 of 8);
    }
    @media (min-width: 1200px) {
        padding: 0 1.6666667%;
    }

    @media (min-width: 1800px) {
        max-width: 1800px;

    }
    @media (min-width: 1840px) {
        padding: 0;
    }
}

*:focus {
    outline: none;
}

.text {
    &>*+* {
        margin-top: 15px;
    }
}

a {
    text-decoration: none;
}

.ymap-container,.vue-google-map,.map-view {
    height: 100%;
    width: 100%;
}